<h1>Edit User project</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_project_path(@conn, :update, @user_project)) %>

<span><%= link "Back", to: Routes.user_project_path(@conn, :index) %></span>
