<h1>New User project</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_project_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.user_project_path(@conn, :index) %></span>
