<h1>Edit Time entry</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.time_entry_path(@conn, :update, @time_entry)) %>

<span><%= link "Back", to: Routes.time_entry_path(@conn, :index) %></span>
